*{
    list-style: none;
    font-family: "roboto";
}
body{
    padding-top: 80px;
    background-color: #EAE8E8;
    /*background: url("../img/fondo.jpg")no-repeat center center;*/
}
#texdescrip{
    box-shadow: 2px 2px 2px grey;
    color : black;
    padding : 20px;
    width : 800px;
    height : 200px;
    overflow : auto;
    background-color: darkgrey;
}
.switchcss{
  position: relative;
    left: 400px;
  }

a.btnsinicio{
  background: #000000;
 -webkit-background-clip: text;
 -moz-background-clip: text;
 background-clip: text;
 color: transparent;
 text-shadow: 0px 3px 3px rgba(255,255,255,0.5),0px -1px 1px rgba(0,0,0,.3);
 text-decoration: none;
 font-size: 20px;
 margin-left: 10px;
}
a.btnsinicio:hover{
    background: gray;
 -webkit-background-clip: text;
 -moz-background-clip: text;
 background-clip: text;
 color: transparent;
 text-shadow: 0px 3px 3px rgba(255,255,255,0.5),0px -1px 1px rgba(0,0,0,.3);
}

div.botones{
    position: relative;
    width: 300px;
    top: 30px;
    left: 150px;
}

#panel-oculto {
 display: none;
 position: fixed;
 top: 0;
 width: 100%;
 height: 200px;
 z-index: 1000;
 background-color: #222;
  }

tr.letrablanca
{
    color: whitesmoke;
}

tr.letra
{
    color: grey;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}



/*---- custom de showp -- */


.cajascontent li.nombre{
    style:none;
    text-transform: capitalize;
}
table.tablitashow{
    background-color: white;
}

select{
    display: block !important;
    padding: 7px !important;
    border:none;
}

#comentario {
    background-color: #fff;
    position: relative;
    top:-30px;
}
.btnEnviar {
    position: relative;
    top: -44px;
}
.comentarios{
    height: 100px;
    overflow-y: auto;
}
th{
    text-align: center;
}
div.usuis{
    background-color: #fff;
    height:200px;
    padding: 0;
}
div.usuis div.contenusuarios{
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.3);
}
div.usuarioscontent{
    position: relative;
    height: 168px;
    overflow-y: auto;
    text-transform: capitalize;
}
.EstadoU{
    position: relative;
    margin-left: 50%;
    width:115px;
    top: -10px;
}
.titulousu{
    margin-left: 25%;
}
.nusu{
    position: relative;
    top: 10px;

}


.tamanoimagen
{
    height: 300px;
    width: 300px;
}

/*.tamanoimagen img*/
/*{*/
    /*height: 300px;*/
    /*width: 300px;*/
/*}*/

div.letrablancadiv
{
    color: white !important;
}

.registrarproyectoslineas
{
    text-justify: auto;
}

.lineasproyectosindex
{
    list-style: disc;
}

/* Welcome*/

.iniciodiv {
    display: inline-block;
}

.iniciodiv
{
    display: inline-block !important;
}

.quitarborde
{
    border: none;
}
.imgS
{
    width: 500px;
}

.infoinicial article
{
    display: inline-block;
}

.noresize{
    resize:none;
}

